<form
  method="POST"
  action="/new"
  style="display: flex; flex-direction: column; gap: 15px"
>
  <h2>Add new message!</h2>
  <label for="user">
    user: <input type="text" id="name" name="messageUser" />
  </label>
  <label for="text">
    text: <input type="text" id="text" name="messageText" />
  </label>
  <button type="submit">Send</button>
</form>
