<div>
  <ul>
    <% for(message of messages) { %>
    <li>
      <span><%= `${message.username}: ${message.text}` %></span>
      <a href=<%= `/message/${message.id}` %>
        ><button>Details</button></a
      >
      <span style="font-size: 0.8rem; display: block; text-align: end"
        ><%= message.added.toLocaleDateString() %></span
      >
    </li>
    <% } %>
  </ul>
  <a href="/new"><button>Add new message!</button></a>
</div>
